@model RimMenswearShop.ViewModels.Role.CreateViewModel
@{
    ViewData["Title"] = "Tạo Role";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Role" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên Role</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onclick="alert('Tạo vai trò thành công')" value="Tạo Role" class="btn btn-dark" />
                <a class="btn btn-dark" asp-controller="Role" asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>

