@model IEnumerable<Role>
@{
    ViewBag.Title = "Quản lý phân quyền";
}
<a asp-controller="Role" asp-action="Create" class="btn btn-dark">Tạo Role</a>
<table class="table table-bordered table-hover mt-2">
    <thead class="thead-dark text-center">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.RoleId</td>
                    <td>@item.NameRole</td>
                    <td>
                        <a class="btn btn-dark" asp-controller="Role" asp-route-id="@item.RoleId" asp-action="Edit">Sửa</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
