@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

<div style=" padding-top: 40px;" class="row">
    <h1 style="color: #0f1d41;
        font-size: 50px;
        font-weight: 700;
        margin: 0px 0;
        line-height: initial;
        padding-left: 55px;        
        padding-top: 42px;">Đổi mật khẩu</h1>
    <hr />
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input placeholder="Nhập mật khẩu hiện cũ" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input placeholder="Nhập mật khẩu mới" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input placeholder="Xác nhận mật khẩu" asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" onclick="alert('Đổi mật khẩu thành công')" value="Đổi mật khẩu" class="form-control btn btn-primary1" />
                <hr />
            </div>
        </form>
    </div>
</div>
